

aside{
    width: 80%;
    height: 400px;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 50px;
    background-color: #2a2929;
    margin-top: 130px;

}
aside > h1{
    color:#bababa ;
    justify-self: end;
    align-self: center;
    font-size: 4.5rem;
    position: relative;
    text-shadow: 2px 2px 4px black;
}
aside h1::before{
    content: "";
    display: block;
    width: 5px;
    height: 145px;
    background-color: orangered;
    position: absolute;
    top: 15px;
    left: -10px;
}
div > h3{
    color: rgb(159, 158, 158);
    padding-bottom: 10px;
    font-size: 22px;
    position: relative;
}
div h3::before{
    content: "";
    display: block;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-image: linear-gradient(red, white);
    position: absolute;
    top: 8px;
    left: -25px;
}
.caracteristicas{
    color: white;
    max-width: 80%;
    height: 385px;
    display: grid;
    align-content: center;
    row-gap: 30px;
    padding-left: 20px;
    margin-top: 5px;
}
.relato{
    background-color: black;
    padding: 10px;
    border-radius: 5px;
}
.descricao{
    max-width: 55%;
    margin: 80px auto 5px auto;
    padding: 20px 30px;
}
.descricao>h1{
    color: black;
    font-size: 3.5rem;
    text-align: center;
    padding-bottom: 20px;
}
.descricao>p{
    color: white;
    font-size: 1.3rem;
    text-align: center;
}

.cruiser{
    color: white;
    max-width: 100%;
    height: 500px;
    position: relative;
}
.foto-cruiser{
    max-width: 70%;
    height: 500px;
    background: url('imagens/cruizer/fat-bob-media-card-overlap.webp');
    background-size: cover;
    background-position: center;
    margin: auto;
}
.cruiser-textos{
    width: 20%;
    height: 185px;
    padding: 40px 60px;
    line-height: 1.5rem;
    color: black;
    background: url('foto/texturabranca.jpg');
    position: absolute;
    left: 62%;
    top: 26%;
}
.cruiser-textos::before{
    content:"";
    width: 4px;
    height: 25px;
    display: block;
    background-color: orangered;
    position: absolute;
    top: 40px;
    left: 50px;
}
.cruiser-textos >h2{
    font-size: 2rem;
    padding-bottom: 18px;
}

@media(max-width:950px){
    aside{
    grid-template-columns: 1fr;
    height: 180px;
    gap: 20px;
    }
    aside > h1{
        justify-self: start;
    }
    .caracteristicas{
        gap: 10px;
        font-size: 19px;
    }
    .descricao{
        margin-top: 400px;
    }
    .cruiser-textos{
        width: 40%;
        height: 130px;
        position: absolute;
        left: 24%;
        top: 78%;
        font-size: 19px;
    }
    .cruiser{
        margin-bottom: 200px;
    }
}
@media(max-width:770px){
    aside{
        gap: 40px;
        }
        .caracteristicas{
            gap: 10px;
            font-size: 19px;
        }
        .descricao{
            margin-top: 470px;
        }
        .foto-cruiser{
            max-width: 95%;
        }
        .cruiser-textos{
            width: 70.7%;
            height: 130px;
            position: absolute;
            left: 8%;
            top: 100%;
            font-size: 19px;
        }
        .cruiser{
            margin-bottom: 255px;
        }
} 
@media(max-width:600px){
    aside{
        gap: 40px;
        }
        .caracteristicas{
            gap: 10px;
            font-size: 20px;
            margin-top: 80px;
        }
        .descricao > h1{
            margin-top: 530px;
           
         }
        .foto-cruiser{
            max-width: 95%;
            margin-top: 30px;
        }
        .cruiser-textos{
            width: 70.1%;
            height: 170px;
            position: absolute;
            left: 5%;
            top: 100%;
            font-size: 21px;
        }
        .cruiser{
        margin-bottom: 295px;
        }
}
@media(max-width:465px){
    aside{
        gap: 40px;
        }
        .caracteristicas{
            gap: 10px;
            font-size: 20px;
            margin-top: 120px;
        }
        .descricao > h1{
            margin-top: 590px;
            margin-left: -40px;
         }
        .foto-cruiser{
            max-width: 100%;
            margin-top: 60px;
        }
        .cruiser-textos{
            width: 70%;
            height: 210px;
            position: absolute;
            left: 2%;
            top: 100%;
            font-size: 22px;
        }
        .cruiser{
        margin-bottom: 370px;
        }
}
