.mostruario-touring{
    max-width: 85%;
    height: 870px;
    background-color: rgba(0, 0, 0, 0.418);
    margin: 50px auto 60px auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
}
.anuncio-touring{
    color: white;
    display: grid;
    height: 400px;
    grid-template-rows: 200px 30px 50px 40px;
    background-color: rgb(1, 1, 1);
    row-gap: 20px;
    padding: 10px;
    border-radius: 6px;
}
.foto-touring1{
    height: 200px;
    background: url('imagens/touring/-cvo-road-glide-limi.webp');
    background-position: center;
    background-size: cover;
}
.foto-touring2{
    height: 200px;
    background: url('imagens/touring/road-glide-special.webp');
    background-position: center;
    background-size: cover;
}
.foto-touring3{
    height: 200px;
    background: url('imagens/touring/street-glide-special.jpg');
    background-position: center;
    background-size: cover;
}
.foto-touring4{
    height: 200px;
    background: url('imagens/touring/road-glide-limited-f66b.webp');
    background-position: center;
    background-size: cover;
}
.foto-touring5{
    height: 200px;
    background: url('imagens/touring/ultra-limited-f66b.jpg');
    background-position: center;
    background-size: cover;
}
.foto-touring6{
    height: 200px;
    background: url('imagens/touring/-cvo-road-glide-limi.webp');
    background-position: center;
    background-size: cover;
}
.anuncio-touring > .nome-moto{
    color: rgb(164, 44, 0);
}
.anuncio-touring > .descricao-moto{
    color: rgb(169, 168, 168);
    line-height: 1.5rem;
}
.anuncio-touring > .comprar{
   justify-self: end;
   align-self: center;
   margin-top: 40px;
}
@media(max-width:1230px){
    .mostruario-touring{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
   }
@media(max-width:1000px){
 .mostruario-touring{
     margin-top: 100px;
 }
}
@media(max-width:780px) and (min-width:600px){
    .anuncio-touring{
        height: 450px;
        display: grid;
        grid-template-rows: 200px 30px 50px 130px;
    }
}
@media(max-width:600px){
    .mostruario-touring{
        margin-top: 110px;
        display: grid;
        grid-template-columns: 1fr;
    }
   }
   @media(max-width:590px){
    .mostruario-touring{
        margin-top: 250px;
    }
   }
   
   @media(max-width:415px){
    .mostruario-touring{
        margin-top: 300px;
    }
}
   @media(max-width:400px){
       .mostruario-touring{
           margin-top: 300px;
       }
   }